.card {
  background-color: #ffffff;
  max-width: 350px;
  border-radius: 6px;
  padding: 0 32px 36px;
  z-index: 30;
}
.card .icon {
  height: 88px;
  width: 88px;
  background-color: var(--dark-violet-primary);
  top: -44px;
}

.card h2 {
  font-size: 22px;
  margin-top: -15px;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: var(--dark-violet-primary);
}

.card p {
  color: var(--gray-neutral);
  font-size: 15px;
}

@media screen and (min-width: 1280px) {
  .card {
    text-align: left;
  }
  .card .icon {
    right: 96px;
  }
}
